header {
  background-color: #8c13f5;
  height: 75px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin: 0;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-left svg {
  font-size: 35px !important;
  display: block;
}

header h1 {
  font-weight: bold;
}

.header-user {
  position: relative;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  height: 100%;
}

.user-menu {
  position: absolute;
  top: 75px;
  right: 0;
  background: #2a2a2a;
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
  padding: 2px;
  width: fit-content;
  min-width: unset;
  display: inline-block;
}

.user-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.avatar-icon {
  font-size: 32px;
}

.user-name {
  font-weight: bold;
  color: white;
  margin-top: 4px;
}

.user-menu button {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 100%;
  background: #3a3a3a;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 4px 0;
}

.user-menu button:hover {
  background: #505050;
}
