.progress-container {
  height: 20px;
  width: 100%;
  background-color: #e0e0de;
  border-radius: 50px;
  margin: 10px 0;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  transition: width 0.4s ease-out;
  border-radius: inherit;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #2196f3;
}

.progress-label {
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 12px;
}
